.button {
  padding: 0.5rem;
  background-color: var(--purple-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 0.38rem;

  svg {
    width: 1.375rem;
    height: 1.375rem;
  }

  &:hover {
    background-color: var(--purple);
  }
}