.coffeeSessionContainer {
  margin-top: 8rem;

  h2 {
    font-size: 2rem;
    font-family: 'Baloo 2';
    font-weight: 800;
    color: var(--base-title);
  }
}

.coffeeSetContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.37rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .coffeeSessionContainer {
    margin-top: 4rem;
  }
}
