.coffeeSessionContainer {
  margin-top: 8rem;

  h2 {
    font-size: 2rem;
    font-family: 'Baloo 2';
    font-weight: 800;
    color: var(--base-title);
  }

}

.coffeeSetContainer {
  margin-top: 3.37rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 2rem;
  justify-items: center;
}

@media (max-width: 768px) {
  .coffeeSessionContainer {
    margin-top: 4rem;
  }
}